      <!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                                   aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab"
                                   aria-selected="false">Audiences</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab"
                                   aria-selected="false">Demographics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab"
                                   aria-selected="false">More</a>
                            </li>
                        </ul>
                        <div>
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                                <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                                <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content tab-content-basic">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="statistics-details d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="statistics-title">bounce rate</p>
                                            <h3 class="rate-percentage">32.53%</h3>
                                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
                                        </div>
                                        <div>
                                            <p class="statistics-title">page views</p>
                                            <h3 class="rate-percentage">7,682</h3>
                                            <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                        </div>
                                        <div>
                                            <p class="statistics-title">new sessions</p>
                                            <h3 class="rate-percentage">68.8</h3>
                                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                        </div>
                                        <div class="d-none d-md-block">
                                            <p class="statistics-title">avg. time on site</p>
                                            <h3 class="rate-percentage">2m:35s</h3>
                                            <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                        </div>
                                        <div class="d-none d-md-block">
                                            <p class="statistics-title">new sessions</p>
                                            <h3 class="rate-percentage">68.8</h3>
                                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                        </div>
                                        <div class="d-none d-md-block">
                                            <p class="statistics-title">avg. time on site</p>
                                            <h3 class="rate-percentage">2m:35s</h3>
                                            <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 d-flex flex-column">
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">market overview</h4>
                                                            <p class="card-subtitle card-subtitle-dash">
                                                                lorem ipsum dolor sit amet consectetur
                                                                adipisicing elit
                                                            </p>
                                                        </div>
                                                        <div>
                                                            <div class="dropdown">
                                                                <button class="btn btn-light dropdown-toggle toggle-dark btn-lg mb-0 me-0"
                                                                        type="button" id="dropdownmenubutton2" data-bs-toggle="dropdown"
                                                                        aria-haspopup="true" aria-expanded="false">
                                                                    this month
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownmenubutton2">
                                                                    <h6 class="dropdown-header">settings</h6>
                                                                    <a class="dropdown-item" href="#">action</a>
                                                                    <a class="dropdown-item" href="#">another action</a>
                                                                    <a class="dropdown-item" href="#">something else here</a>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">separated link</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                                        <div class="d-sm-flex align-items-center mt-4 justify-content-between">
                                                            <h2 class="me-2 fw-bold">$36,2531.00</h2>
                                                            <h4 class="me-2">usd</h4>
                                                            <h4 class="text-success">(+1.37%)</h4>
                                                        </div>
                                                        <div class="me-3">
                                                            <div id="marketingoverview-legend"></div>
                                                        </div>
                                                    </div>
                                                    <div class="chartjs-bar-wrapper mt-3">
                                                        <canvas id="marketingoverview"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">pending requests</h4>
                                                            <p class="card-subtitle card-subtitle-dash">you have 50+ new requests</p>
                                                        </div>
                                                        <div>
                                                            <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button">
                                                                <i class="mdi mdi-account-plus"></i>add new member
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive  mt-1">
                                                        <table class="table select-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="form-check form-check-flat mt-0">
                                                                            <label class="form-check-label">
                                                                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </th>
                                                                    <th>customer</th>
                                                                    <th>company</th>
                                                                    <th>progress</th>
                                                                    <th>status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-check form-check-flat mt-0">
                                                                            <label class="form-check-label">
                                                                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex ">
                                                                            <img src="assets/images/faces/face1.jpg" alt="">
                                                                            <div>
                                                                                <h6>brandon washington</h6>
                                                                                <p>head admin</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <h6>company name 1</h6>
                                                                        <p>company type</p>
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                                                <p class="text-success">79%</p>
                                                                                <p>85/162</p>
                                                                            </div>
                                                                            <div class="progress progress-md">
                                                                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%"
                                                                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="badge badge-opacity-warning">ın progress</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-check form-check-flat mt-0">
                                                                            <label class="form-check-label">
                                                                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <img src="assets/images/faces/face2.jpg" alt="">
                                                                            <div>
                                                                                <h6>laura brooks</h6>
                                                                                <p>head admin</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <h6>company name 1</h6>
                                                                        <p>company type</p>
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                                                <p class="text-success">65%</p>
                                                                                <p>85/162</p>
                                                                            </div>
                                                                            <div class="progress progress-md">
                                                                                <div class="progress-bar bg-success" role="progressbar" style="width: 65%"
                                                                                     aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="badge badge-opacity-warning">ın progress</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-check form-check-flat mt-0">
                                                                            <label class="form-check-label">
                                                                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <img src="assets/images/faces/face3.jpg" alt="">
                                                                            <div>
                                                                                <h6>wayne murphy</h6>
                                                                                <p>head admin</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <h6>company name 1</h6>
                                                                        <p>company type</p>
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                                                <p class="text-success">65%</p>
                                                                                <p>85/162</p>
                                                                            </div>
                                                                            <div class="progress progress-md">
                                                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 38%"
                                                                                     aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="badge badge-opacity-warning">ın progress</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-check form-check-flat mt-0">
                                                                            <label class="form-check-label">
                                                                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <img src="assets/images/faces/face4.jpg" alt="">
                                                                            <div>
                                                                                <h6>matthew bailey</h6>
                                                                                <p>head admin</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <h6>company name 1</h6>
                                                                        <p>company type</p>
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                                                <p class="text-success">65%</p>
                                                                                <p>85/162</p>
                                                                            </div>
                                                                            <div class="progress progress-md">
                                                                                <div class="progress-bar bg-danger" role="progressbar" style="width: 15%"
                                                                                     aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="badge badge-opacity-danger">pending</div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="form-check form-check-flat mt-0">
                                                                            <label class="form-check-label">
                                                                                <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="d-flex">
                                                                            <img src="assets/images/faces/face5.jpg" alt="">
                                                                            <div>
                                                                                <h6>katherine butler</h6>
                                                                                <p>head admin</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <h6>company name 1</h6>
                                                                        <p>company type</p>
                                                                    </td>
                                                                    <td>
                                                                        <div>
                                                                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                                                                                <p class="text-success">65%</p>
                                                                                <p>85/162</p>
                                                                            </div>
                                                                            <div class="progress progress-md">
                                                                                <div class="progress-bar bg-success" role="progressbar" style="width: 65%"
                                                                                     aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="badge badge-opacity-success">completed</div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row flex-grow">
                                        <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body card-rounded">
                                                    <h4 class="card-title  card-title-dash">recent events</h4>
                                                    <div class="list align-items-center border-bottom py-2">
                                                        <div class="wrapper w-100">
                                                            <p class="mb-2 font-weight-medium">
                                                                change in directors
                                                            </p>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                                                    <p class="mb-0 text-small text-muted">mar 14, 2019</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list align-items-center border-bottom py-2">
                                                        <div class="wrapper w-100">
                                                            <p class="mb-2 font-weight-medium">
                                                                other events
                                                            </p>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                                                    <p class="mb-0 text-small text-muted">mar 14, 2019</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list align-items-center border-bottom py-2">
                                                        <div class="wrapper w-100">
                                                            <p class="mb-2 font-weight-medium">
                                                                quarterly report
                                                            </p>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                                                    <p class="mb-0 text-small text-muted">mar 14, 2019</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list align-items-center border-bottom py-2">
                                                        <div class="wrapper w-100">
                                                            <p class="mb-2 font-weight-medium">
                                                                change in directors
                                                            </p>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex align-items-center">
                                                                    <i class="mdi mdi-calendar text-muted me-1"></i>
                                                                    <p class="mb-0 text-small text-muted">mar 14, 2019</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="list align-items-center pt-3">
                                                        <div class="wrapper w-100">
                                                            <p class="mb-0">
                                                                <a href="#" class="fw-bold text-primary">
                                                                    show all <i class="mdi mdi-arrow-right ms-2"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <h4 class="card-title card-title-dash">activities</h4>
                                                        <p class="mb-0">20 finished, 5 remaining</p>
                                                    </div>
                                                    <ul class="bullet-line-list">
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <div><span class="text-light-green">ben tossell</span> assign you a task</div>
                                                                <p>just now</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <div><span class="text-light-green">oliver noah</span> assign you a task</div>
                                                                <p>1h</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <div><span class="text-light-green">jack william</span> assign you a task</div>
                                                                <p>1h</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <div><span class="text-light-green">leo lucas</span> assign you a task</div>
                                                                <p>1h</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <div><span class="text-light-green">thomas henry</span> assign you a task</div>
                                                                <p>1h</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <div><span class="text-light-green">ben tossell</span> assign you a task</div>
                                                                <p>1h</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <div><span class="text-light-green">ben tossell</span> assign you a task</div>
                                                                <p>1h</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="list align-items-center pt-3">
                                                        <div class="wrapper w-100">
                                                            <p class="mb-0">
                                                                <a href="#" class="fw-bold text-primary">
                                                                    show all <i class="mdi mdi-arrow-right ms-2"></i>
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 d-flex flex-column">
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <h4 class="card-title card-title-dash">todo list</h4>
                                                                <div class="add-items d-flex mb-0">
                                                                    <!-- <input type="text" class="form-control todo-list-input" placeholder="what do you need to do today?"> -->
                                                                    <button class="add btn btn-icons btn-rounded btn-primary todo-list-add-btn text-white me-0 pl-12p">
                                                                        <i class="mdi mdi-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="list-wrapper">
                                                                <ul class="todo-list todo-list-rounded">
                                                                    <li class="d-block">
                                                                        <div class="form-check w-100">
                                                                            <label class="form-check-label">
                                                                                <input class="checkbox" type="checkbox"> lorem ıpsum is simply dummy text
                                                                                of the printing <i class="input-helper rounded"></i>
                                                                            </label>
                                                                            <div class="d-flex mt-2">
                                                                                <div class="ps-4 text-small me-3">24 june 2020</div>
                                                                                <div class="badge badge-opacity-warning me-3">due tomorrow</div>
                                                                                <i class="mdi mdi-flag ms-2 flag-color"></i>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-block">
                                                                        <div class="form-check w-100">
                                                                            <label class="form-check-label">
                                                                                <input class="checkbox" type="checkbox"> lorem ıpsum is simply dummy text
                                                                                of the printing <i class="input-helper rounded"></i>
                                                                            </label>
                                                                            <div class="d-flex mt-2">
                                                                                <div class="ps-4 text-small me-3">23 june 2020</div>
                                                                                <div class="badge badge-opacity-success me-3">done</div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check w-100">
                                                                            <label class="form-check-label">
                                                                                <input class="checkbox" type="checkbox"> lorem ıpsum is simply dummy text
                                                                                of the printing <i class="input-helper rounded"></i>
                                                                            </label>
                                                                            <div class="d-flex mt-2">
                                                                                <div class="ps-4 text-small me-3">24 june 2020</div>
                                                                                <div class="badge badge-opacity-success me-3">done</div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="border-bottom-0">
                                                                        <div class="form-check w-100">
                                                                            <label class="form-check-label">
                                                                                <input class="checkbox" type="checkbox"> lorem ıpsum is simply dummy text
                                                                                of the printing <i class="input-helper rounded"></i>
                                                                            </label>
                                                                            <div class="d-flex mt-2">
                                                                                <div class="ps-4 text-small me-3">24 june 2020</div>
                                                                                <div class="badge badge-opacity-danger me-3">expired</div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                                <h4 class="card-title card-title-dash">type by amount</h4>
                                                            </div>
                                                            <div>
                                                                <canvas class="my-auto" id="doughnutchart"></canvas>
                                                            </div>
                                                            <div id="doughnutchart-legend" class="mt-5 text-center"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                                <div>
                                                                    <h4 class="card-title card-title-dash">leave report</h4>
                                                                </div>
                                                                <div>
                                                                    <div class="dropdown">
                                                                        <button class="btn btn-light dropdown-toggle toggle-dark btn-lg mb-0 me-0"
                                                                                type="button" id="dropdownmenubutton3" data-bs-toggle="dropdown"
                                                                                aria-haspopup="true" aria-expanded="false">
                                                                            month wise
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownmenubutton3">
                                                                            <h6 class="dropdown-header">week wise</h6>
                                                                            <a class="dropdown-item" href="#">year wise</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="mt-3">
                                                                <canvas id="leavereport"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                                <div>
                                                                    <h4 class="card-title card-title-dash">top performer</h4>
                                                                </div>
                                                            </div>
                                                            <div class="mt-3">
                                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                    <div class="d-flex">
                                                                        <img class="img-sm rounded-10" src="assets/images/faces/face1.jpg"
                                                                             alt="profile">
                                                                        <div class="wrapper ms-3">
                                                                            <p class="ms-1 mb-1 fw-bold">brandon washington</p>
                                                                            <small class="text-muted mb-0">162543</small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-muted text-small">
                                                                        1h ago
                                                                    </div>
                                                                </div>
                                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                    <div class="d-flex">
                                                                        <img class="img-sm rounded-10" src="assets/images/faces/face2.jpg"
                                                                             alt="profile">
                                                                        <div class="wrapper ms-3">
                                                                            <p class="ms-1 mb-1 fw-bold">wayne murphy</p>
                                                                            <small class="text-muted mb-0">162543</small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-muted text-small">
                                                                        1h ago
                                                                    </div>
                                                                </div>
                                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                    <div class="d-flex">
                                                                        <img class="img-sm rounded-10" src="assets/images/faces/face3.jpg"
                                                                             alt="profile">
                                                                        <div class="wrapper ms-3">
                                                                            <p class="ms-1 mb-1 fw-bold">katherine butler</p>
                                                                            <small class="text-muted mb-0">162543</small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-muted text-small">
                                                                        1h ago
                                                                    </div>
                                                                </div>
                                                                <div class="wrapper d-flex align-items-center justify-content-between py-2 border-bottom">
                                                                    <div class="d-flex">
                                                                        <img class="img-sm rounded-10" src="assets/images/faces/face4.jpg"
                                                                             alt="profile">
                                                                        <div class="wrapper ms-3">
                                                                            <p class="ms-1 mb-1 fw-bold">matthew bailey</p>
                                                                            <small class="text-muted mb-0">162543</small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-muted text-small">
                                                                        1h ago
                                                                    </div>
                                                                </div>
                                                                <div class="wrapper d-flex align-items-center justify-content-between pt-2">
                                                                    <div class="d-flex">
                                                                        <img class="img-sm rounded-10" src="assets/images/faces/face5.jpg"
                                                                             alt="profile">
                                                                        <div class="wrapper ms-3">
                                                                            <p class="ms-1 mb-1 fw-bold">rafell john</p>
                                                                            <small class="text-muted mb-0">alaska, usa</small>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-muted text-small">
                                                                        1h ago
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
